.depegar{
    margin-top: 100px;
    background: #000000;
}

.centrado{
    text-align: center;
    width: 18rem;
    margin-top: 10px;
}

.iconosredes{
    width: 2rem;
}
.iconSvga {
     fill: red;
  } 
  .iconSvgb {
    fill:#526;
 } 
 .iconSvgc {
    fill: #9d6;
 } 

 #linkbtn{
     text-decoration: none;
     color: #000000;
 }